.vacancy__wrapper {
    margin: 20px auto;
}
.vacancy {
    border: 1px solid var(--gray-lighter);
    border-radius: 3px;
    padding: 20px;   
}

.vacancy__title a {
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}
.vacancy__title a:hover {
    color: var(--black);
    text-decoration: underline;
}

.vacancy__tag--gray {
    background-color: var(--gray-lightest);
}