.vacancy-card__wrapper {
    margin: 20px auto;
}
.vacancy-card {
    background-color: var(--gray-lightest);
    border: 1px solid var(--gray-lighter);
    border-radius: 3px;
    padding: 20px;
    word-wrap: break-word;
}
.vacancy-card__title, .vacancy-card__salary {
    margin-bottom: 10px;
}
.vacancy-card__title--black > a {
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}
.vacancy-card__title--black  a:hover {
    color: var(--black);
    text-decoration: underline;
}
.vacancy-card__salary {
    font-size: var(--font-size-h4);
    font-weight: 700;
}
.vacancy-card__date {
    color: var(--gray-darken);
    font-style: italic;
}
small.vacancy-card__company {
    font-style: italic;
}